{% extends "seller_base/sidebar_base.html" %}
{% load static %}
{% block content %}

<style>
    .btn-s-dashboard-add-room a:hover {
        color: white !important;
    }
</style>

            <!-- Main Content -->
            <div class="flex-grow-1 p-4 welcome-content">
                <div class="seller-dash-header d-flex justify-content-between">
                    <h1 class="welcome-content fw-bold">Welcome, <small class="welcome-content">{% if user.is_authenticated %}{{user.name}}{% else %}..{% endif %}</small></h1>
                    <a href=""><i class="fas fa-user text-decoration-none welcome-content p-3 fs-5"> &nbsp;
                            {% if user.is_authenticated %} {{user.name}} {% else %} UNKOWN USER {% endif %}</i></a>
                </div>

                <!-- Dashboard Overview -->
                <div class="row my-4">
                    <div class="col-md-4 border-2">
                        <div class="card bg-light text-blackn mt-3">
                            <div class="card-body">
                                <h5 class="card-title">Total Rooms</h5>
                                <p class="card-text">20</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 border-2">
                        <div class="card bg-light text-black mt-3">
                            <div class="card-body">
                                <h5 class="card-title">Subscription Status</h5>
                                {% if user.is_authenticated %}
                                    {% if user.is_subscribed %}
                                    <p class="card-text text-success">
                                        Active
                                    </p>
                                    {% else%}
                                    <p class="card-text text-danger">
                                        Inactive
                                    </p>
                                    {% endif%}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 border-2">
                        <div class="card bg-light text-black  mt-3">
                            <div class="card-body">
                                <h5 class="card-title">Subscription Remaining</h5>
                                {% if user.is_authenticated and user.is_subscribed %}
                                <p class="card-text text-danger">{{subscription_remaning_days}} days</p>
                                {% else %}
                                <p class="card-text text-danger">0 days</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Listed Products Table -->
                <h4 class="Listed-Rooms-header fw-bold fs-3">Listed Rooms</h4>
                <button class="btn-s-dashboard-add-room mb-3 p-2 fw-bold"><a style="color: #2A3855; text-decoration: none;" href="{% url 'add_rooms' %}">Add New Room</a></button>
                <div class="table-responsive border shadow mb-4">
                    <table class="table table-hover">
                        <thead class="table-head">
                            <tr>
                                <th>Image</th>
                                <th>Title</th>
                                <th>City</th>
                                <th>Price</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><img src="s1.bmp" class="img-fluid" style="height: 70px; width: 100px;"></td>
                                <td>2Bhk Flat at Ranipuwa</td>
                                <td>Pokhara, Ranipuwa</td>
                                <td>$10000</td>
                                <td class="d-flex flex-column">
                                    <button class="btn btn-sm btn-outline-info">Edit</button>
                                    <button class="btn btn-sm btn-outline-danger mt-2">Delete</button>
                                </td>
                            </tr>
                            <tr>
                                <td><img src="s1.bmp" class="img-fluid" style="height: 70px; width: 100px;"></td>
                                <td>2Bhk Flat at Ranipuwa</td>
                                <td>Pokhara, Ranipuwa</td>
                                <td>$10000</td>
                                <td class="d-flex flex-column">
                                    <button class="btn btn-sm btn-outline-info">Edit</button>
                                    <button class="btn btn-sm btn-outline-danger mt-2">Delete</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- end listed room section -->

                <!-- appointment booking management  -->
                <div class="row mb-4 mt-5">
                    <div class="col-md-6 border-2">
                        <div class="card bg-light text-black  mt-3">
                            <div class="card-body">
                                <h5 class="card-title">Appoinment Requests</h5>
                                <p class="card-text">20</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 border-2">
                        <div class="card bg-light text-black  mt-3">
                            <div class="card-body">
                                <h5 class="card-title">Pending Appoinments</h5>
                                <p class="card-text">10</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Appoinment Management -->
                <div class="my-4">
                    <h4 class="Listed-Rooms-header fw-bold fs-3">Appoinment Request</h4>
                    <div class="table-responsive border shadow">
                        <table class="table table-hover border-2">
                            <thead class="table-head">
                                <tr class="border-2">
                                    <th>Client</th>
                                    <th>Phone</th>
                                    <th>Date</th>
                                    <th>Time</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="border-2">
                                    <td>Aayush Kandel</td>
                                    <td>98002654</td>
                                    <td>2025-5-3</td>
                                    <td>4:00pm</td>
                                    <td class="d-flex flex-column">
                                        <button class="btn btn-sm btn-outline-info">Accept</button>
                                        <button class="btn btn-sm btn-outline-danger mt-2">Cancel</button>
                                    </td>
                                </tr>
                                <tr class="border-2">
                                    <td>Nayan Karki</td>
                                    <td>98556420</td>
                                    <td>2025-5-8</td>
                                    <td>1:00pm</td>
                                    <td class="d-flex flex-column">
                                        <button class="btn btn-sm btn-outline-info">Accept</button>
                                        <button class="btn btn-sm btn-outline-danger mt-2">Cancel</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="my-5">
                    <h4 class="Listed-Rooms-header fw-bold fs-3">Pending Appoinment</h4>
                    <div class="table-responsive border shadow">
                        <table class="table table-hover border-2">
                            <thead class="table-head">
                                <tr class="border-2">
                                    <th>Client</th>
                                    <th>Phone</th>
                                    <th>Date</th>
                                    <th>Time</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="border-2">
                                    <td>Aayush Kandel</td>
                                    <td>98002654</td>
                                    <td>2025-5-3</td>
                                    <td>4:00pm</td>
                                    <td class="d-flex flex-column">
                                        <button class="btn btn-sm btn-outline-success">Done</button>
                                        <button class="btn btn-sm btn-outline-danger mt-2">Cancel</button>
                                    </td>
                                </tr>
                                <tr class="border-2">
                                    <td>Nayan Karki</td>
                                    <td>98556420</td>
                                    <td>2025-5-8</td>
                                    <td>1:00pm</td>
                                    <td class="d-flex flex-column">
                                        <button class="btn btn-sm btn-outline-success">Done</button>
                                        <button class="btn btn-sm btn-outline-danger mt-2">Cancel</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>


{% endblock content %}
