{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/core/homepage.css' %}">
    <link rel="stylesheet" href="{% static 'css/core/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/core/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/core/roomlist.css' %}">

</head>

<body>
        <!-- header section -->
        <header class="container-fluid">
            <div class="row">
                <div class="col-6 text-white p-2 main-header">
                    {% if user.is_authenticated %}
                        {% if user.user_type == 'customer' %}
                            <i class="fas fa-user-tag"></i> Customer Account
                        {% else %}
                            <i class="fas fa-user-tag"></i> Seller Account
                        {% endif %}
                    {% else %}
                        <p class="fw-bold fs-7 m-1">Log in First...</p>
                    {% endif %}
                </div>
                <div class="col-6 text-white p-2 d-flex justify-content-end main-header">
                    <a href="#" class="text-white text-decoration-none">
                        {% if user.is_authenticated %}
                            {% if user.name %}
                                <i class="fas fa-user"></i>&nbsp;&nbsp;{{ user.name | upper }}
                            {% elif user.email %}
                                <i class="fas fa-user"></i>&nbsp;&nbsp;{{ user.email | upper }}
                            {% endif %}
                        {% endif %}
                    </a>
                </div>
            </div>
        </header>
        
        <!-- header section -->
    
        <!-- Navbar section -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light shadow p-1 mb-1 bg-body rounded">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="{% static 'img/logo.png' %}" alt="Logo" style="height: 45px; width: auto;">
                    <span class="fw-bold fs-4 logo-text">ROOMRENTAL</span>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between" id="navbarText">
                    <ul class="navbar-nav  m-auto mt-0 me- mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link m-2" aria-current="page" href="{% url 'homepage' %}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link m-2" href="{% url 'roomlist' %}">Rooms</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link m-2" href="#">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link m-2" href="#">Contact</a>
                        </li>
                    </ul>
                    {% if user.is_authenticated %}
                    <span class="navbar-text ">
                        <a class="nav-btn fw-bold text-decoration-none mb-1" href="{% url 'logout_user' %}">Log Out</a>
                    </span>
                    {% else %}
                    <span class="navbar-text ">
                        <a class="nav-btn fw-bold text-decoration-none mb-1" href="{% url 'login_user' %}">Log In</a>
                    </span>
                    {% endif %}
                </div>
            </div>
        </nav>
        <!-- Navbar section -->