{% load static %}
<!-- Subscription Renew Modal-->
<div class="modal fade" id="renewModal" tabindex="-1" aria-labelledby="renewModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="renewModalLabel">Subscription Expired</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Your subscription is expired. Please renew your subscription for accessing the service.
          <p class="payment-text mt-4">Renew Your Account from for just <br><h3>₹ <b>300/month</b></h3>  </p>
        </div>
        <form action="{% url 'renew_subs' %}" method="POST">
          {% csrf_token %}
        <div class="modal-footer">
            <button class="btn btn-register btn-lg fw-bold" type="submit" value="Pay With Khalti" id="register-btn">
                Pay with Khalti
            </button> 
        </div>
        </form>

      </div>
    </div>
  </div>


