{% extends "base/sidebar_base.html" %}
{% load static %}
{% block content %}


<h4 class="mb-2">Here are your all appointments</h4>
<div class="appointment-dropdown d-flex justify-content-end align-item-end mt-2">
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Filter Appointments
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="?filter=requests">Appointment Requests</a></li>
            <li><a class="dropdown-item" href="?filter=pending">Pending Appointments</a></li>
            <li><a class="dropdown-item" href="?filter=finished">Completed Appointments</a></li>
            <li><a class="dropdown-item" href="?filter=rejected">Reject Appointments</a></li>
            <li><a class="dropdown-item" href="?filter=canceled">Canceled Appointments</a></li>
        </ul>
    </div>
    
</div>


<!-- Appoinment Requests -->
<div class="row">
    {% if filter_option == "requests" %}
    <div class="my-4">
        <h4 class="Listed-Rooms-header fw-bold fs-3">Appoinment Requests</h4>
        <div class="table-responsive border shadow">
            <table class="table table-hover border-2">
                <thead class="table-head">
                    <tr class="border-2">
                        <th>Room</th>
                        <th>Client</th>
                        <th>Phone</th>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% if appointment_requests%}
                    {% for appointment in appointment_requests %}
                    <tr class="border-2">
                        <td>{{ appointment.room.title }}</td>
                        <td>{{appointment.customer.name|upper}}</td>
                        <td>{{ appointment.customer.phone }}</td>
                        <td>{{ appointment.date }}</td>
                        <td>{{ appointment.time }}</td>
                        <td class="d-flex flex-column">
                            <form method="POST" action="{% url 'approve_appointment_request' appointment.id %}">
                                {% csrf_token %}
                                <button class="btn btn-sm btn-outline-info w-100" type="submit">Accept</button>
                            </form>
                            <form method="POST" action="{% url 'reject_appointment_request' appointment.id %}">
                                {% csrf_token %}
                                <button class="btn btn-sm btn-outline-danger mt-2 w-100" type="submit">Reject</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td colspan="5" class="text-center">
                            <p class="text-muted">No Appointment Requests</p>
                        </td>
                    </tr>
                    {% endif %}
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}
    
    <!-- Pending Appoinment -->
    {% if filter_option == "pending" %}
    <div class="my-4">
        <h4 class="Listed-Rooms-header fw-bold fs-3">Pending Appoinments</h4>
        <div class="table-responsive border shadow">
            <table class="table table-hover border-2">
                <thead class="table-head">
                    <tr class="border-2">
                        <th>Client</th>
                        <th>Phone</th>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% if pending_appointments %}
                    {% for appointment in pending_appointments %}
                    <tr class="border-2">
                        <td>{{appointment.customer.name|upper}}</td>
                        <td>{{appointment.customer.phone}}</td>
                        <td>{{appointment.date}}</td>
                        <td>{{appointment.date}}</td>
                        <td class="d-flex flex-column">
                            <form method="POST" action="{% url 'finished_appointment_request' appointment.id %}">
                                {% csrf_token %}
                                <button class="btn btn-sm btn-outline-info w-100" type="submit">Done</button>
                            </form>
                            <form method="POST" action="{% url 'cancel_appointment_request' appointment.id %}">
                                {% csrf_token %}
                                <button class="btn btn-sm btn-outline-danger w-100 mt-2" type="submit">Cancel</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td colspan="5" class="text-center">
                            <p class="text-muted">No Pending Appointment</p>
                        </td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}
    
    <!-- FInished Appoinment -->
    {% if filter_option == "finished" %}
    <div class="my-4">
        <h4 class="Listed-Rooms-header fw-bold fs-3">Finished Appoinments</h4>
        <div class="table-responsive border shadow">
            <table class="table table-hover border-2">
                <thead class="table-head">
                    <tr class="border-2">
                        <th>Client</th>
                        <th>Phone</th>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% if finished_appointments %}
                    {% for appointment in finished_appointments %}
                    <tr class="border-2">
                        <td>{{appointment.customer.name|upper}}</td>
                        <td>{{appointment.customer.phone}}</td>
                        <td>{{appointment.date}}</td>
                        <td>{{appointment.date}}</td>
                        <td class="text-danger">{{appointment.status|upper}}</td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td colspan="5" class="text-center">
                            <p class="text-muted">You have not Finished any Appointments Yet</p>
                        </td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}

    <!-- cancled Appoinment -->
    {% if filter_option == "canceled" %}
    <div class="my-4">
        <h4 class="Listed-Rooms-header fw-bold fs-3">Cancled Appoinments</h4>
        <div class="table-responsive border shadow">
            <table class="table table-hover border-2">
                <thead class="table-head">
                    <tr class="border-2">
                        <th>Client</th>
                        <th>Phone</th>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% if canceled_appointments %}
                    {% for appointment in canceled_appointments %}
                    <tr class="border-2">
                        <td>{{appointment.customer.name|upper}}</td>
                        <td>{{appointment.customer.phone}}</td>
                        <td>{{appointment.date}}</td>
                        <td>{{appointment.date}}</td>
                        <td class="text-danger">{{appointment.status|upper}}</td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td colspan="5" class="text-center">
                            <p class="text-muted">You have not Finished any Appointments Yet</p>
                        </td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}
    </div>

    <!-- Reject Appoinment -->
    {% if filter_option == "rejected" %}
    <div class="my-4">
        <h4 class="Listed-Rooms-header fw-bold fs-3">Rejected Appoinments</h4>
        <div class="table-responsive border shadow">
            <table class="table table-hover border-2">
                <thead class="table-head">
                    <tr class="border-2">
                        <th>Client</th>
                        <th>Phone</th>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% if rejected_appointments %}
                    {% for appointment in rejected_appointments %}
                    <tr class="border-2">
                        <td>{{appointment.customer.name|upper}}</td>
                        <td>{{appointment.customer.phone}}</td>
                        <td>{{appointment.date}}</td>
                        <td>{{appointment.date}}</td>
                        <td class="text-danger">{{appointment.status|upper}}</td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td colspan="5" class="text-center">
                            <p class="text-muted">You have not Reject any Appointments Yet</p>
                        </td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}
    </div>
</div>





{% endblock content %}